/* --Root-- */
:root{
/* -- Main font color -- */
--hunterGreen: #405344;
/* -- Background color -- */
--beige: #FDECDA;
--lightGreen: rgba(223, 229, 193, 0.894);
--darkbrown: #472e23;
/* -- Font -- */
--h2-font: 'Saint George', sans-serif;
--h3-font: "Poppins", serif;
}


body{
    margin: 0;
    background-color: whitesmoke;
}

/* -- Form -- */

#contact-title{
    margin: 20px;
    font-family: serif;
    color: white;
    text-align: center;
    
}
form{
    max-width: 730px;
    margin: 20px auto;
    padding: 20px;
    font-family: var(--h3-font);
    margin-bottom: 30px ;
    color: var(--darkbrown);
    background-color: var(--darkbrown);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    
}




/* --- Center Image -- */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

/* --- Footer -- */
footer {
    height: auto;
    bottom: 0;
    width: 100%;
    background-color: var(--darkbrown);
    color: var(--beige);
    text-align: center;
    padding: 5px;
    font-family: var(--h3-font);
   
}

/* Links in footer */
footer a{
    color: white;
    text-decoration: none;
    float: center;
    padding: 10px 40px;;
    font-size: 15px;
    width: 25%;
    text-align: center;
    background-color: var(--darkbrown);
      
}

/*Footer Name*/
.footer-name{
    position:absolute;
    float: left;
    text-align:center;
    padding: 20px 50px;
    font-size: 30px;
    font-family: var(--h2-font);
    
}

/* Paragraphs in footer */
footer p{
    font-size: 11px;
    

}

/* Horizontal rule */
hr{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}


/* --- Navbar -- */
.navbar {
    width: 100%;
    overflow: auto;
    font-family: var(--h3-font);
    margin: 0;
    padding: 0;
}

.navbar a {
    float: left;
    padding: 15px 0px;
    color: var(--beige);
    text-decoration: none;
    font-size: 15px;
    width: 25%;
    text-align: center;
    background-color: var(--darkbrown);
}

.navbar a:hover {
    background-color: var(--hunterGreen);
    color: var(--beige);

}

/* -- Submit button -- */
.btn{
    border: 2px solid var(--lightGreen);
    background-color: var(--lightGreen);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    font-size: 20px;
    
}

/* -- Submit button when hover -- */
.btn:hover{
    border: 2px solid var(--darkbrown);
    background-color: var(--lightGreen);
    color: white;
    
    transform: scale(1.05);
    
}

/* -- Subscribe -- */
.subscribe label{
    color: white;
}
/* -- Logo image -- */
#logo {
    max-width: 500px;
    height: auto;
    filter: drop-shadow(0px 0px 7px rgb(101, 95, 87));
}



/*--Instagram--*/

.instagram-post {
    margin: 20px auto;
    max-width: 370px; 
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
}

.insta-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;

    padding: 20px;
    background-color: rgba(223, 229, 193, 0.894);
    width: 100%vw;
    height: 100%vh;
}

h1{
    font-family: var(--h2-font);
    text-align: center;
    font-size: 30px;
    padding: 10px;
}


/* ---team info----*/
.teaminfo{
    background-color: rgb(209, 191, 167);
    width: 100%vw;
    height: 100%vh;
    padding: 30px;
    text-align: center;
    margin-top: 30px;
}



